html, body {
    background-color: black !important;
    color: white;
}

.container {
    background-color: black;
    color: white;
}

.btn-primary.override-bs {
    border-radius: 20px;
    width: 100%;
}

.wd-search-bar {
    border-radius: 50px;
    color: lightgray;
    width: 100%;
    background-color: rgb(47, 48, 49);
    border-color: rgb(47, 48, 49);
}

.wd-img-font {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.wd-post-wrapper .row{
    margin: 0px;
    /*border-color: darkgrey !important;*/
}

.border-bottom {
    border-bottom: 1px solid gray !important;
}

.border {
    border: 1px solid gray !important;
}

.wd-topic {
    font-size: 13px;
    color: rgb(110,118,125);
}

.wd-title {
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.wd-hour {
    font-size: 13px;
    color: rgb(110,118,125);
    font-weight: normal;
}

.wd-handle {
    font-size: 13px;
    color: rgb(110,118,125);
    font-weight: normal;
}

/*.btn-primary {*/
/*    color: #fff;*/
/*    background-color: #0d6efd;*/
/*    border-color: #0d6efd;*/
/*}*/

.wd-button {
    background-color: white;
    color: black;
    border-color: black;
    font-weight: bold;
}

.list-group {
    border-radius: 20px;
}

.list-group-item {
    color: white !important;
    background-color: black;
}

.wd-follow-table {
    background-color: rgb(28, 27, 27) !important;
}

/*.list-group-item.active {*/
/*    border: none !important;*/
/*    font-weight: bold !important;*/
/*}*/

.list-group-item:hover {
    color: black !important;
}

.md-list-active {
    background-color: black;
    font-weight: bold;
}

.fa-inverse {
    color: black !important;
}

.wd-icon-color {
    color: lightgray;
}

.border-start {
    border-left: 1px solid gray !important;
}

.border-end {
    border-right: 1px solid gray !important;
}

.nav-link {
    color: darkgrey !important;
}

.md-nav-active {
    border-bottom: 2px solid rgb(29,161,242) !important;
    font-weight: bold !important;
    border-width: medium !important;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(29,161,242) !important;
    border-width: medium !important;
}
