html, body{
    background-color: black;

    /*border-left-style: solid;*/
    /*border-left: rgb(47,51,54);*/

    /*border-right-style: solid;*/
    /*border-right: rgb(47,51,54);*/
}

.wd-border-left {
    border-left: 1px solid rgb(47,51,54);
    margin-right: 5px;
    /*padding-left: 16px;*/
}

.wd-border-right {
    border-right: 1px solid rgb(47,51,54);
    margin-left: 5px;
    /*padding-right: 16px;*/
}

a {
    text-decoration: none;
}

.wd-border-bottom {
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-width: 1px;
    /*padding: 12px 0px;*/
    /*margin: 0px 16px;*/
}

.wd-bookmark-title {
    padding-left: 16px;
    padding-top: 12px;
    color: white;
    font-size: 20px;
}

.wd-bookmark-handle {
    color: lightgray;
    font-size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.wd-bookmark-container {
    padding-left: 16px;
    display: flex;
    align-content: center;
    padding-bottom: 12px;
}

.wd-ps-ellipsis-icon {
    position: absolute;
    padding-top: 12px;
    padding-right: 3%;
    right: 5px;
    color: rgb(110,118,125);
}

.wd-active-ellipsis-color {
    color: cornflowerblue;
}

.wd-left-element {
    /*padding-left: 16px;*/
    padding-top: 12px;

    width: 48px;
}

.wd-left-element img{
    border-radius: 50px;
    float: left;
}

.wd-right-element {
    /*width: 90%;*/
    padding-left: 12px;
    padding-top: 12px;
}

.wd-author {
    /*padding-left: 12px;*/
    /*padding-top: 12px;*/
    font-size: 15px;
    color: white;
}

.wd-handle {
    /*padding-left: 12px;*/
    /*padding-top: 12px;*/
    font-size: 15px;
    color: lightgray;
}

.wd-content {
    /*padding-left: 12px;*/
    padding-bottom: 12px;
    fint-size: white;
    color: white;
    max-width: 506px;
    padding-right: 16px;
}

/*.wd-float-left {*/
/*    float: left;*/
/*}*/

.wd-inside-border {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 50px;
    width: 504px;
}

.wd-image {
    /*padding-top: 12px;*/
    /*padding-left: 12px;*/
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.wd-title {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.wd-text{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    color: lightgray;
    /*border-bottom-left-radius: 50px;*/
    /*border-bottom-right-radius: 50px;*/
}

.wd-bookmark-icon {
    padding-top: 12px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    color: lightgray;
}

.wd-icon {
    float: left;
    width: 25%;
}

.wd-icon-number-padding {
    padding-right: 12px;
}

.wd-bookmark-icon a {
    color: lightgray;
}

.wd-heart-icon-color {
    color: palevioletred;
}