html,body{
    background-color: black;
    /*color: white;*/

    /*border-left: 1px solid rgb(47,51,54);*/
    /*border-right: 1px solid rgb(47,51,54);*/
}

.wd-border-left {
    /*border-left-style: solid;*/
    /*border-left: rgb(47,51,54);*/
    /*border-left-width: 1px;*/
    border-left: 1px solid rgb(47,51,54);
    margin-right: 20px;
    padding-left: 16px;
}

.wd-border-right {
    /*border-right-style: solid;*/
    /*border-right: rgb(47,51,54);*/
    /*border-right-width: 1px;*/
    border-right: 1px solid rgb(47,51,54);
    margin-left: 20px;
    padding-right: 16px;
}

.wd-border-bottom {
    border-bottom-style: solid;
    border-bottom-color: rgb(47,51,54);
    padding: 16px 0px;
    margin: 0px 16px;
}

.wd-search-bar {
    border-radius: 50px;
    color: white;
    background-color: darkgray;
    width: 85%;
    padding-left: 40px;
    padding-bottom: 10px;
}

.wd-ps-search-icon {
    position: absolute;
    left: 12px;
    top: 10px;
    color: lightgray;
}

.wd-ps-gear-icon {
    position: absolute;
    /*padding-right: 0px;*/
    top: 10px;
    color: cornflowerblue;
    right: 12px;
}

.wd-relative {
    position:relative;
}

.wd-ps-ellipsis-icon {
    position: absolute;
    padding-top: 0px;
    padding-right: 12px;
    right: 50px;
    color: rgb(110,118,125);
}

.wd-ps-circle-icon {
    color: rgb(110,118,125);
}

.wd-hyperlink a {
    color: rgb(110, 118, 125);
    font-size: 15px;
    text-decoration: none;
    /*width: 100%;*/
    display: inline;
    padding: 16px;
    /*justify-content: space-evenly;*/
}
.wd-active {
    border-bottom: 2px solid rgb(29,161,242);
}

.wd-button:hover {
    border-bottom: 2px solid rgb(29,161,242);
}

a {
    text-decoration: none;
}
.wd-topic {
    font-size: 13px;
    color: rgb(110,118,125);
}

.wd-title {
    font-size: 15px;
    color: white;
}

/*.wd-width {*/
/*    width: 100%;*/
/*}*/

.wd-author {
    font-size: 13px;
    color: white;
    width: 70%;
    float: left;
}

.wd-ps-image {
    /*position: absolute;*/
    /*padding-right: 16px;*/
    /*right: 16px;*/
    border-radius: 8px;
    width: 30%;
    float: left;
}

.wd-border-top {
    border-top-style: solid;
    border-top-color: rgb(47,51,54);
    margin-top: 5px;
}


/*.wd_border_bottom {*/
/*    border-bottom: solid thin rgb(47,51,54);*/
/*}*/



